<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Enregistrement
                <small>Enregistrez vous !</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Accueil</a></li>
                <li class="active">Subscribe</li>
            </ol>
        </div>

    </div>
    
    <!--
    <div ng-controller="Hello">
        <br />
        Firstname = <input type="text" ng-model="firstname"/>
        <br />
        Lastname = <input type="text" ng-model="lastname"/>
        <br />
        Address = <input type="text" ng-model="address"/>
        <br />
        <button ng-click="addContact()">add</button>
    </div>
    -->
    
    <div class="row">
        <div class="col-sm-8">
            <h3>Inscrivez vous:</h3>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Last Name (UserName)</label>
                        <input type="text" name="login" class="form-control" id="input1" ng-model="lastname" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-4">
                        <label for="input1">Password</label>
                        <input type="text" name="login" class="form-control" id="input2" ng-model="password" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-4">
                        <label for="input2">First Name</label>
                        <input type="text" name="password" class="form-control" id="input2" ng-model="firstname"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Address</label>
                        <input type="text" name="password" class="form-control" id="input3" ng-model="address"/>
                    </div>
                    <div class="form-group col-lg-12">
                        <!-- <input type="hidden" name="save" value="login"> -->
                        <button ng-click="addContact()" class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
            
        </div>
    </div>

</div>
<!-- /.container -->